{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.7.0"}
        org.clojure/clojurescript {:mvn/version "1.7.228"}
        com.yahoo.platform.yui/yuicompressor {:mvn/version "2.4.8", :exclusions [rhino/js]}}}
